*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poiret One', sans-serif;
}


body{
    max-width: 1200px;
    margin: 0 auto;
}

.text{
    text-align: center;
}

.paragraph{
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
}

.title{
    margin-top: 40px;
    color: #E53170;
    font-size: 40px;
}

.left-floated{
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

img{
    width: 110px;
}

.container{
    width: 300px;
    height: 110px;
    background-color: black;
    padding-left: 20px;
}

.section{
    margin-top: 50px;
}

.author{
    color: white;
    padding-top: 10px;
}

h4{
    color: white;
    font-size: 20px;
    padding-top: 10px;

}

h5{
    color: white;
    padding-top: 10px;

}