*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poiret One', sans-serif;
}


body{
    max-width: 1200px;
    margin: 0 auto;
}

.text{
    text-align: center;
}

.paragraph{
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
}

.title{
    margin-top: 40px;
    color: #E53170;
    font-size: 40px;
}

.left-floated{
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

img{
    width: 110px;
    margin-left: 20px;
    box-shadow: 10px 10px 5px grey;

}

.container{
    width: calc(70% / 3 - 20px);
    height: 110px;
    background-color: black;
    margin-bottom: 50px;
    box-shadow: 10px 10px 5px grey;

}

.section{
    margin-top: 50px;
}

.author{
    color: white;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 15px;
}

.job{
    color: white;
    font-size: 15px;
    padding-top: 10px;
    padding-left: 15px;

}

.email{
    color: #5CB8C7;
    font-size: 15px;
    padding-top: 10px;
    padding-left: 15px;

}

